<!-- perfil.html -->

<!DOCTYPE html>
<html lang="en">

<head>


    {% load filtrosEspeciales %}

    {% include "head.html" %}

    <link rel="stylesheet" type="text/css"
          href="../../static/css/nuevo_calendario.css"/>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.vc-multi').owlCarousel({
                loop: false,
                center: false,
                dots: true,
                margin: 5,
                responsiveClass: true,
                animateOut: 'fadeOut',
                nav: false,
                autoWidth: true,
                //autoplay:true,
                //autoplayTimeout:5000,
                // autoplayHoverPause:true,
                rewind: true,
                responsive: {
                    0: {
                        items: 2,
                        dots: true
                    },
                    600: {
                        items: 3,
                        dots: true
                    },
                    1000: {
                        items: 4,
                        loop: false,
                        dots: true,
                        margin: 20
                    }


                }
            });

            {% if modoInstructor %}
                $(".vcPerfilMenu1").val(2);
                vcPerfilMenu1(this, 2);
            {% else %}
                $(".vcPerfilMenu1").val(1);
                vcPerfilMenu1(this, 1);
            {% endif %}

            $(".vc-perf-dropdonw-down").click(function () {

                $(".vc-perf-dropdown-up").show();
                $(".vc-perf-dropdonw-down").hide();

                $(".vc-perf-detalle").slideDown(300);


            });

            $(".vc-perf-dropdown-up").click(function () {

                $(".vc-perf-dropdonw-down").show();
                $(".vc-perf-dropdown-up").hide();

                $(".vc-perf-detalle").slideUp(300);


            });

            $(".clickable-col").click(function () {
                window.location = $(this).data("href");
            });

            $('input:file').change(
                function () {
                    if ($(this).val()) {
                        $('#cambioFotoSubir').click();
                    }
                }
            );


            $("#cambiarFotoBtn").click(function () {
                $("#cambioFotoSeleccionar").click();
            });

            $('#cambioFotoSubir').click(function () {
                $('#spinner').show();
            });


            $('.vcPerfilMenu1').change(function () {            	
            	changeOptionPerfil('vic-perfil-dash');

                    vcPerfilMenu1(this, $(this).val());
            });

        });

        function cancelarUsuario(usuario, actividad, costo) {
            cancelarActualizar(actualizar, usuario, actividad, costo)
        }

        function actualizar() {
            window.location.reload();
        }
        
        function changeOptionPerfil(opt) {
        	
        	if(opt == "vic-perfil-actividadesAtleta"){
        		cargarActividadesAtleta();
        		
        	}
        	
        	$('.vic-perfil-menu-opt').removeClass('border-active');
        	$('.'+opt+'-opt').addClass('border-active');
        	
        	$('.vic-perfil-menu').hide(0,function(){
               $('.'+opt).show(0);
        		
        	});
        		        			
        
        }
        
    </script>


<style type="text/css">


.vic-perfil-pagos{
  display: none;

}

.vic-perfil-actividades{
  display: none;

}

.vic-perfil-planes{
  display: none;

}


.vic-btn-default{

background-color: #EEF0F4 !important;
}   


.vic-btn-default  .btn-default{

    color: #333 !important;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}


.vic-btn-default  .btn-default:focus{
	outline:0px;
    
}


.vic-btn-default  .btn-default.border-active{

       border-bottom: 2px solid #FFD302;
}


.vic-btn-default2{
    padding-top: 10px;

}




@media ( max-width: 767px) {
   .opt-perfil-drop{
		background :none;
		float: right;

}

.vic-btn-default{


background-color: #EEF0F4 !important;
}   


.vic-btn-default  .btn-default{
   font-size: 14px;
   
}

}


</style>                

</head>

<body>

{% include "header.html" %}
{% include "content-tabs.html" %}
{% include "tabs_entrenador-calendario.html" %}
{% include "scriptsPagos.html" %}
{% include "scriptsActividades.html" %}

<style type="text/css">



    .vic-ma-caja-texto {
        width: auto;
    }
    
    

    .vic-ma-header:after {
        letter-spacing: -6px;
        content: "{{ perfil.atletaIniciales }}";
        line-height: 1em;
        
        color: rgba(155, 155, 155, 0.1);
        font-size: 7em;
        height: 120px;
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
    }

    .t-consumen td {

        height: 40px;
    }

    .moreOpsBt {
        position: relative;
        /* bottom: 0; */
        /* right: 0px; */
        z-index: 4;
        height: 21px;
    }

    .active-perf {
        background: white;
        text-decoration: none;
        font-weight: normal;
    }

    .vc-perf-menu1-tab-2, .vc-perf-menu1-tab-1 {
        display: none;

    }

</style>

<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog" style="z-index: 9999">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body" style="text-align:center;">

            </div>
        </div>

    </div>
</div>

{% esAmigo perfil.atletaId vs.user.id as esAmigo %}
{% soy_yo_mismo perfil.atletaId as soyYoMismo %}

{% with paInfo=perfil.atletaInfoGeneral %}

    <div id="vic-tab-2" class="tab-pane in active">

        <div class="container">

            <div class="row">
                <div class="vic-marca-agua vic-ma-header col-xs-12">
                    <div class="vic-ma-perfil-texto ">
                        <span style=" font-weight: normal;font-size: 12px;">PERFIL</span>

                        <div class="vic-perfil-client-name">{{ perfil.atletaNombreCompleto }}
                            {% if soyYoMismo or vs.tipoSesion == vs.MARCA %}
                            
                                <div class="btn-group moreOpsBt opt-perfil-drop" >
                                
                                  <button type="button" class="btn btn-sm btn-default dropdown-toggle hidden-xs"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;
                                    </button>
                                  
                                    <i class="fas fa-cog dropdown-toggle  hidden-sm hidden-md hidden-lg"  data-toggle="dropdown"></i>
                                    
                                    <ul class="dropdown-menu" style="right: 30px; top: 0px;">
                                        {% if vs.tipoSesion == vs.MARCA %}
                                            <li id="cambiarFotoBtn" role="presentation"><a
                                                    onclick="intentodecobro();comprarplan2({{ perfil.atletaId }});"
                                                    href="#">Comprar Saldo</a></li>
                                            {% if perfil.esInstructorEnMarca == True %}
                                                <li id="cambiarFotoBtn" role="presentation"><a href="#"
                                                                                               onclick="entrenador('{{ perfil.atletaId }}',false)">Desautorizar
                                                    como Instructor</a></li>
                                                <li id="cambiarFotoBtn" role="presentation"><a
                                                        href="./{{ perfil.atletaAlias }}-pagos">Remuneraciones</a></li>
                                            {% else %}
                                                <li id="cambiarFotoBtn" role="presentation"><a href="#"
                                                                                               onclick="entrenador('{{ perfil.atletaId }}',true)">Autorizar
                                                    como Instructor</a></li>
                                            {% endif %}
                                        {% else %}
                                            <li id="cambiarFotoBtn" role="presentation"><a href="#">Cambiar Foto</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="vic-perfil-client-alias">@{{ perfil.atletaAlias }}</div>
<br>
                        <div class="vic-text-descrip">{{ perfil.atletaObjetivos }}</div>

                        {% if vs.tipoSesion == vs.MARCA %}
                            <br>
                            <button type="button" class="btn btn-xs  vic-btn-grey"
                                    onclick="seguirDejar(0,{{ perfil.atletaId }},{{ vs.marcaEnUsoId }});"
                            >Bloquear
                            </button>
                        {% endif %}
 <div class="row">
 <br>
                                               <div class="col-md-3 col-xs-6 ">
                            {% if esAmigo or soyYoMismo or vs.tipoSesion == vs.MARCA %}
                                {% if perfil.atletaEsInstructor == True %}
                                    {% if vs.tipoSesion == vs.ATLETA %}
                                        <select class=" vcPerfilMenu1 m-t-10 form-control">
                                            {% if soyYoMismo %}
                                                <option value="1">ATLETAS</option>
                                            {% endif %}
                                            {% if perfil.atletaEsInstructor == True %}
                                                <option value="2">INSTRUCTOR <i class="fa fa-angle-down"></i></option>
                                            {% else %}
                                                <option value="2" disabled>INSTRUCTOR <i class="fa fa-angle-down"></i>
                                                </option>
                                            {% endif %}
                                        </select>
                                    {% else %}
                                        {% instructor_en_esta_marca vs.marcaEnUsoId perfil.atletaId as esInstructorEnEstaMarca %}
                                        {% if esInstructorEnEstaMarca %}
                                            <select id="idSelectAtletaInstructor"
                                                    class="vic-perfil-atl-inst vcPerfilMenu1 ">
                                                <option value="1">ATLETAS</option>
                                                {% if perfil.atletaEsInstructor == True %}
                                                    <option value="2">INSTRUCTOR <i class="fa fa-angle-down"></i>
                                                    </option>
                                                {% else %}
                                                    <option value="2" disabled>INSTRUCTOR <i
                                                            class="fa fa-angle-down"></i>
                                                    </option>
                                                {% endif %}
                                            </select>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                            {% endif %}
                        </div>
</div>
                    </div>
                </div>

            </div>

        </div>


        {% include "perfil-section-atleta.html" %}
        {% include "perfil-section-instructor.html" %}
        
        

        {% if  perfil.atletaEstadoConfiguracion > 0 %}

            {% if vs.tipoSesion == vs.ATLETA and perfil.atletaEstadoConfiguracion > 0 and soyYoMismo %}

                <div class="container vic-perfil-dash vic-perfil-menu">

                    <br>
                    <div class="vic-perfil-atl-inst-sub-title m-t-15">CENTROS AFILIADOS</div>
                    <br>
                    <!-- centros -->
                    <div class="vic-hr"></div>

                    <div>

                        {% with perfil.atletaMarcasAprobadasPendientes as centros %}

                            {% for c in centros %}

                                {% perfil_de_marca c.m_alias as centro %}

                                {% siguiendo_esta_marca centro.marcaId vs.userId as seguidor %}
                                {% pendiente_con_esta_marca centro.marcaId vs.userId as pendiente %}


                                {% with pmInfo=centro.marcaInfoGeneral %}

                                    <style type="text/css">

                                        .vic-ma-caja-letter-{{forloop.counter}}:after {
                                            content: '';
                                        }

                                        @media ( max-width: 713px) {

                                            .vic-ma-header:after {
                                               /* color: rgba(255, 205, 1, 0.17);*/
                                                font-size: 5em;

                                            }
                                        }
                                    </style>

                                    <div class="col-xs-12 col-md-6 col-lg-4 vic-marca-agua vic-ma-caja vic-ma-caja-letter-{{ forloop.counter }}">

                                        <a href="../{{ centro.marcaAlias }}">
                                        
                                        
                                         <div class="pull-right">
                                                
                                                <br>
                                                    {% if soyYoMismo %}
                                                        {% if centro.marcaDuenoAlias != perfil.atletaAlias %}
                                                            {% if seguidor or pendiente %}
                                                                {% if seguidor %}
                                                                    <button style="margin-top: -2px;"
                                                                            type="button"
                                                                            class="btn btn-xs  vic-btn-outline-reservar "
                                                                            onclick="seguirDejar(0,{{ vs.userId }},{{ centro.marcaId }});"
                                                                    >Afiliado <i class="fa fa-check"></i>
                                                                    </button>
                                                                {% else %}
                                                                    <button style="margin-top: -2px;"
                                                                            type="button"
                                                                            class="btn btn-xs  vic-btn-outline-reservar  Afiliado "
                                                                            onclick='return confirmarCancelacionSolicitud({{ vs.userId }},{{ centro.marcaId }},"{{ centro.marcaNombre }}","../{{ centro.marcaAlias }}");'
                                                                    >Esperando Afiliación <i class="fas fa-clock"></i>
                                                                    </button>

                                                                {% endif %}
                                                            {% else %}
                                                                <button style="margin-top: -2px;"
                                                                        type="button"
                                                                        class="btn btn-xs  vic-btn-reservar "
                                                                        onclick="seguirDejar(1,{{ vs.userId }},{{ centro.marcaId }});"
                                                                >Afiliarse
                                                                </button>
                                                            {% endif %}
                                                        {% else %}
                                                            <button style="margin-top: -2px;"
                                                                    type="button"
                                                                    class="btn btn-xs  vic-btn-outline-reservar vic-disabled"
                                                                    onclick=""
                                                            >Mi Marca <i class="fa fa-check"></i>
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}

                                                </div>
                                            <div class="vic-ma-caja-texto w-100">
                                            
                                            

                                                <div class="vic-ma-caja-texto-header w-100">
                                                
                                              
<div class="vic-atleta-c1">
                                                    {{ centro.marcaNombre }}

</div>

                                                </div>

                                            
                                      
                                            </div>
                                        </a>

                                    </div>

                                {% endwith %}

                            {% endfor %}
                        {% endwith %}

                    </div>

                </div>

                <!-- fin centros -->



            {% endif %}
            
                <div class="container vic-perfil-dash vic-perfil-menu">
                 <br>
                
                 
                            
                    <div class="vic-perfil-atl-inst-sub-title m-t-15">ACTIVIDADES PREFERIDAS</div>
                    <br>
                    <div class="vic-hr"></div>
                     {% for disciplina in perfil.atletaDisciplinas %}
                        {% if forloop.counter0 < 5 %}
                                                      
                     <div class="col-xs-12 col-md-6 col-lg-4 vic-ma-caja " style="    min-height: 50px;padding-top: 10px;text-align: left;" >
                                         <img src="{{ disciplina.imagenDisciplinaNegra }}"  style="width: 30px;height: 30px;float: right;">
                     
                      <div class="vic-atleta-c1" style="text-align: left;margin-top: 10px"><b>{{ disciplina.nombreDisciplina }}</b></div>
                    
                    </div>
                       {% endif %}
                 {% endfor %}
                    </div>
                  
            
            
           

           

        {% else %}

            <div id="idDivBienvenida" class="text-center col-md-8 col-md-offset-2 ">


                <i class="fa fa-bolt fa-4x" style="color: #ffcd00" aria-hidden="true"></i>

                <div class=" vic-calendar-title">{{ perfil.atletaPrimerNombre }}<br>¡Bienvenido a Victorius!</div>
                <div class="vic-calendar-sub-title-header vic-tex-inic " style="margin-top: 10px;">Aún no cuentas con
                    información en tu perfil, no te <br>
                    preocupes, una vez afilies tus centros podrás<br>
                    comenzar a ver mas información
                    <br><br>
                    <a type="button" class="btn btn-xs  vic-btn-reservar-reverse  " href="/centros">Centros</a>
                </div>
                <br>
            </div>

        {% endif %}

    </div>



{% endwith %}

<!-- fin codigo nuevo  -->

{% include "fin-content-tabs.html" %} {% include "footer.html" %}

<script>
    function cambio(input) {

        $("#d" + input).show();
        $("#f" + input).show();
        $("#m" + input).addClass("active");


    }

    function vcPerfilMenu1(obj, n) {

        $(".vc-perf-menu1").removeClass("active-perf");
        $(obj).addClass("active-perf");

        $(".vc-perf-menu1-tab").hide();
        $(".vc-perf-menu1-tab-" + n).show();
        //  vc-perf-menu1-2
        if (n == 2)
            $(".vic-clase-d-text").html('{{ perfil.profifeInstructor }}');
        else
            $(".vic-clase-d-text").html('{{ perfil.atletaObjetivos }}');
    }


    function vcPerfilAtletaMenu1(obj, n) {
    	


        if (n == 1) {

            $(".sap-vh").show();
            $(".sap-va").hide();
            
            

        } else {

        	
        	
            $(".sap-vh").hide();
            $(".sap-va").show();

        }


        $(".vc-perf-atleta-menu1-tab-" + n).show();

        $(".vc-perf-atleta-menu1-tab").hide();

        $(".vc-perf-atleta-menu1-tab-" + n).show();


        //  vc-perf-menu1-2

    }

    function vcPerfilAtletaMenu2(obj, n) {

        $(".vc-perf-atleta-menu2").removeClass("vc-link-perf-active");
        $(obj).addClass("vc-link-perf-active");

        $(".vc-perf-atleta-menu2-tab").hide();

        $(".vc-perf-atleta-menu2-tab-" + n).show();


        //  vc-perf-menu1-2

    }


    function vcPerfilInstructorMenu1(obj, n) {
        $(".vc-perf-instructor-menu1").removeClass("vc-link-perf-active");
        $(obj).addClass("vc-link-perf-active");

        $(".vc-perf-instructor-menu1-tab").hide();

        $(".vc-perf-instructor-menu1-tab-" + n).show();


        //  vc-perf-menu1-2

    }

    function vcPerfilInstructorMenu2(obj, n) {
        $(".vc-perf-instructor-menu2").removeClass("vc-link-perf-active");
        $(obj).addClass("vc-link-perf-active");

        $(".vc-perf-instructor-menu2-tab").hide();

        $(".vc-perf-instructor-menu2-tab-" + n).show();

        if (n == 1) {
            $('#tabUltimosSieteDiasInst').removeClass('active');
            $('#tabProximasInst').addClass('active');
        } else {
            $('#tabUltimosSieteDiasInst').addClass('active');
            $('#tabProximasInst').removeClass('active');
        }

        //  vc-perf-menu1-2

    }

    function muestraReciboPago(planId) {
        $.ajax({
            url: '/ajax/getReciboPagoInfo/',
            data: {
                'planId': planId,
            },
            dataType: 'json',
            success: function (data) {
                $("#recibo_centro").text(data.centro);
                $("#recibo_nombre").text(data.nombre);
                $("#recibo_alias").text('@' + data.alias);
                $("#recibo_fecha").text(data.fecha);
                $("#recibo_totalArriba").text(data.total);
                $("#recibo_numero").text(data.numeroRecibo);
                $("#recibo_tipoMedioPago").text(data.medioPago);
                $("#recibo_banco").text(data.banco);
                $("#recibo_referencia").text(data.referencia);
                $("#recibo_planNombre").text(data.planNombre);
                $("#recibo_planCreditos").text(data.planCreditos);
                $("#recibo_planFechaVencimiento").text(data.planFechaVencimiento);
                $("#recibo_planPrecio").text(data.planPrecio);
                $("#recibo_headerDescuento").html(data.planHeaderDescuento);
                $("#recibo_planDescuento").text(data.planDescuento);
                $("#recibo_totalAbajo").text(data.total);
            }
        });

        changeTabs('recibo-pago');
    }

    function entrenador(usuario, estado) {
        valor = estado ? 2 : 1
        $.ajax({
            data: {'usuario': usuario, 'estado': valor},
            url: "/{{ marca_actual.m_alias }}/estadoentrenador",
            type: 'get',
            success: function (data) {
                window.location.reload();
            },
        })
    }


</script>

<script>
    function cancelarreserva(usuario, actividad, costo) {
        $.ajax({
            data: {
                'usuario': usuario,
                'actividad': actividad,
                'costo': costo
            },
            url: 'cancelarreserva',
            type: 'get',
            success: function (data) {
                location.reload();
                var str = data[0]
                    + " "
                    + data[1]
                alertVictorius(str, 1);
            },
        })
    }
</script>

<script>

    function cerrarModal() {
        $("#myModal").modal('toggle');
    }

    {% comment %}    function mostrarCambioFoto(){

            $("#cambioFotoSeleccionar").click();
            $("#cambioFoto").click();
        }

        $( "#cambioFoto" ).submit(function( event ) {
          event.preventDefault();
        });


        $( "#cambiarFotoBtn" ).click(function() {
            $("#cambioFotoSeleccionar").click();
            setTimeout(function(){
                document.getElementById("cambioFoto").submit();
            },5500);

        });{% endcomment %}


    function confirmarCancelacionSolicitud(usuario, marcaId, marcaNombre, url) {
        parametrosDesafiliar = '0,' + usuario + "," + marcaId;

        $('.modal-body').attr('style', 'text-align: left;');
        var params = '';

        var params = '<div style=" text-align: left; color: #393939;	font-family: Roboto;	font-size: 12px;	line-height: 17px;">Desea eliminar la solicitud de afiliación a ' + marcaNombre + ' ?</div>';

        params += '<div class="container-fluid"><div class="pull-right"><a style="background: #FFCD00; padding: 13px; margin-left:15px;cursor: pointer; " onclick="seguirDejar(' + parametrosDesafiliar + ')" class="vc-link-perf-active">Eliminar</a> </div><div>';
        params += '<div style="margin-bottom: 10px; " class="container-fluid"><div class="pull-right"><a  style="cursor: pointer;" onclick="cerrarModal();" class="vc-link-perf-active">Cancelar</a> </div><div>';

        $("#myModal").find(".modal-title").html(' <span class="	color: #393939;	font-family: Roboto;	font-size: 16px;	font-weight: bold;	line-height: 17px;"> Eliminación de solicitud ' + '<span>');
        $("#myModal").find(".modal-body").html(params);
        $("#myModal").modal();

        // redirect(url);

        return false;

    }

    function seguirDejar(opcion, usuario, marca) {
        $.ajax({
            data: {'opcion': opcion, 'usuario': usuario, 'marca': marca},
            url: '/solicitudusuario',
            type: 'get',
            success: function (data) {
                location.reload();
            },
        });
    }

    //Evento de prueba para la seleccion del filtro:
    function event_circle(identifier) {
        alert('Ejemplo de filtro:' + identifier);
    }


</script>


</body>

</html>