<!-- basePasswordReset.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "content-tabs.html" %}
<div id="vic-tab-2" class="tab-pane in active">
<div class="container">
    <div class="" style="max-width: 417px;margin-left:auto ;margin-right: auto;">

        <div class="w-100 vic-log-reg text-center">
            <img style="width: 180px" src="{% static "/images/Victorius_version_negro.svg" %}" alt="" class="big-logo ">
        </div>

            {% block content %}
            {% endblock %}

    </div>

</div>
</div>


{% include "fin-content-tabs.html" %}
<script type="text/javascript">
    $(document).ready(function () {

        $('#formLogin').validator();

        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>

</body>
</html>