{% extends './basePasswordReset.html' %}

{% block content %}


        <div class="vic-register-title ">Recuperar contraseña</div>
        <br>
        <div class="vic-register-sub-title">¿Nuevo en  Victorius?<br><b><a style="text-decoration: un"
                                                                                         href="">Regístrate aqui</a></b>
        </div>
        <br><br>

           <form method="post" >
                {% csrf_token %}

                <div
                        class="form-group ">

                    <label for="username" class="label-form-pago control-label">Correo Electrónico</label>
                    <!--<span for="username" class="label-form-pago control-label " style="color: #333;font-weight: bold;float: right;" onclick="changeTabs('2')">Iniciar session</span>-->

                    <input id="id_email" name="email"
                           class="btn-block input-grey form-control" type="email"
                           value="" placeholder="Correo Electrónico" data-error="Campo requerido"
                           required>
                    <div class="help-block with-errors error-label"></div>

                </div>

                 <div style="margin-top: 24px;margin-bottom: 20px;" class="col-sm-6 col-sm-offset-3 ">
                		<input type="submit" onclick="return enviarolvido()" class="btn-block botones-agregar submit"
                       value="Enviar">
            </div>
            </form>
{% endblock %}