{% extends './basePasswordReset.html' %}

{% block content %}
  <div class="m-t-20">
  <br>
  {% if validlink %}

<form method="post">
      {% csrf_token %}
      
      <div
            class="form-group ">

                    <label for="id_new_password1" class="label-form-pago control-label">Nueva contraseña:</label>


                    <input id="id_new_password1" name="new_password1"
                           class="btn-block input-grey form-control" type="password"
                           value="" placeholder="" data-error="Campo requerido"
                           required>
                    <div class="help-block with-errors error-label"></div>

                </div>
                
                 <div
            class="form-group ">

                    <label for="id_new_password2" class="label-form-pago control-label">Confirme la nueva contraseña:</label>


                    <input id="id_new_password2" name="new_password2"
                           class="btn-block input-grey form-control" type="password"
                           value="" placeholder="" data-error="Campo requerido"
                           required>
                    <div class="help-block with-errors error-label"></div>

                </div>

                 <div style="margin-top: 24px;margin-bottom: 20px;" class="col-sm-6 col-sm-offset-3 ">
                		<input type="submit" onclick="return enviarolvido()" class="btn-block botones-agregar submit"
                       value="Enviar">
            </div>
      
    </form>
  {% else %}
    <p>
      El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó.<br><br>
      Solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
  </div>
{% endblock %}