

<!DOCTYPE html>

<html lang="en">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css">
@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';



.vic-btn-reservar-reverse {
	color: #FFF;
	background-color: black;
	border-color: black;
	font-weight: 500;
	text-transform: uppercase;
}

.vic-btn-reservar-reverse:active, .vic-btn-reservar-reverse:hover {
	color: black;
	background-color: white;
	border-color: black;
}
</style>


</head>
<body style="word-wrap: break-word; font-family: "Open Sans", sans-serif;">

<div id="vic-tab-2" class="tab-pane in active ">

    <div class="col-xs-12" style="position: absolute;
	top: 20%;">
	<div class="text-center">
		<img src="http://34.207.41.159/static/images/Victorius_version_negro.svg" alt="" class="big-logo " style="width: 200px;"/>
	</div>
	
	<div class="text-center">
		<img src="http://34.207.41.159/static/images/403.svg" alt="" class="big-logo " style="    width: 300px;margin: 35px 0 35px 0;"/>
	</div>
	  
            <div class="col-xs-12 col-md-8 col-md-offset-2 ">
                <p
                        style="color: #393939;font-size: 32px; font-weight: 900; line-height: 17px;">
                    Ooops...</p>
                <p
                        style="color: #393939; font-size: 16px; "> Lo
                    sentimos pero la pàgina que esta buscando no se le puede mostrar. Usted no tiene permisos.</p>
                    
                     <br>
                     
                     <div class="text-center">
                           <button type="button" class="btn vic-btn-reservar-reverse">Inicio</button>
                         
                     </div>


            </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>