<table id='tblMarcaActividades' class='display' style='width:100%'>
<thead>
<th width="20%"></th>
<th width="15%"></th>
<th width="20%"></th>
<th width="20%"></th>
<th width="15%"></th>
<th width="10%"></th>
</thead>
<tbody>
<tr>
	<td> <strong>Mar, 27 de Mar<BR>06:30 am</strong></td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-72">TRX</a> </td>
	<td> <strong>Luis Perez<BR>@lperez</strong></td>
	<td> <strong>VIC<BR>Room 1</strong></td>
	<td> <strong>0/3</strong></td>
	<td> <div class="btn-group moreOpsBt">
<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;</button>
<ul class="dropdown-menu" style="right: 30px; top: 0px;">
<li role="presentation">
<a href="#"
onclick="return reserva(72);">Gestionar Actividad</a>
</li><li role="presentation">
<a href="#"
onclick="serie=false;modi=true;modichange(true);return modificar(72);">Editar Actividad</a>
</li><li role="presentation">
<a href="#"
onclick="serie=false;modi=true;modichange(true);return suspender(72);">Suspender</a>
</li></ul></div></td>
</tr>
</tbody>
</table>
