<table id='tblMarcaActividades' class='display' style='width:100%'>
<thead>
<th width="20%"></th>
<th width="15%"></th>
<th width="20%"></th>
<th width="20%"></th>
<th width="15%"></th>
<th width="10%"></th>
</thead>
<tbody>
<tr>
	<td> Jue, 1 de Mar<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-65">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 1 de Mar<BR>09:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-75">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/10</td>
	<td> </td>
</tr>
<tr>
	<td> Vie, 2 de Mar<BR>05:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-79">Spinning</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Lun, 5 de Mar<BR>05:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-80">Spinning</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Mar, 6 de Mar<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-66">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Mar, 6 de Mar<BR>09:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-84">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Mar, 6 de Mar<BR>10:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-86">Spinning</a> </td>
	<td> Sin Asignar<BR>@Sin Asignar</td>
	<td> VIC<BR>Sin Asignar</td>
	<td> 0/0</td>
	<td> </td>
</tr>
<tr>
	<td> Mie, 7 de Mar<BR>05:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-81">Spinning</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 8 de Mar<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-67">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 8 de Mar<BR>09:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-85">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 8 de Mar<BR>10:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-87">Spinning</a> </td>
	<td> Sin Asignar<BR>@Sin Asignar</td>
	<td> VIC<BR>Sin Asignar</td>
	<td> 0/0</td>
	<td> </td>
</tr>
<tr>
	<td> Vie, 9 de Mar<BR>05:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-82">Spinning</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Lun, 12 de Mar<BR>05:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-83">Spinning</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Mar, 13 de Mar<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-68">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Mar, 13 de Mar<BR>10:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-88">Spinning</a> </td>
	<td> Sin Asignar<BR>@Sin Asignar</td>
	<td> VIC<BR>Sin Asignar</td>
	<td> 0/0</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 15 de Mar<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-69">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 3/3</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 15 de Mar<BR>10:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/SPINNING.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-89">Spinning</a> </td>
	<td> Sin Asignar<BR>@Sin Asignar</td>
	<td> VIC<BR>Sin Asignar</td>
	<td> 0/0</td>
	<td> </td>
</tr>
<tr>
	<td> Mar, 20 de Mar<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-70">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Ayer<BR>06:30 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-71">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> </td>
</tr>
<tr>
	<td> Jue, 29 de Mar<BR>10:00 am</td>
	<td> <img src = "../static/images/DISCIPLINAS/NEGRO/TRX.svg" style = "width: 30px; height: 30px; display: inline-block"><BR><a href="./clase-73">TRX</a> </td>
	<td> Luis Perez<BR>@lperez</td>
	<td> VIC<BR>Room 1</td>
	<td> 0/3</td>
	<td> <div class="btn-group moreOpsBt">
<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;</button>
<ul class="dropdown-menu" style="right: 30px; top: 0px;">
<li role="presentation">
<a href="#"
onclick="serie=false;modi=true;modichange(true);return modificar(73);">Editar Actividad</a>
</li><li role="presentation">
<a href="#"
onclick="serie=false;modi=true;modichange(true);return eliminarActividad(73);">Eliminar Actividad</a>
</li></ul></div></td>
</tr>
</tbody>
</table>
