<!-- index.html -->

{% extends 'base-index.html' %}

{% block contenido %}

<div class="container-fluid bg-black container-fluid-p0 div-1" style="  border-top: 3px #ffcd00 solid;">

    <div class="container h-100">
        <div class="flex-container-index h-100">


            <div class="ml-auto mr-auto ">

                <div><h2 class="text-center text-white h2">Eleva tu experiencia de
                    entrenamiento</h2>
                </div>


                <div class="flex-container botton-div">
                    <div>
                        <h3 class="text-center text-white h3">
                            <b>Vive </b><span
                                style="color:#ffcd00;border-bottom: 1.2px solid white;font-family: 'Permanent Marker', cursive; ">  Feliz, Fuerte y Sano</span>
                        </h3>

                    </div>
                </div>

                <div class="flex-container vic botton-div aniview" data-av-animation="pulse">
                    <div class="vic-c1 text-white">

                        <i class="fas fa-heart fa-3x"></i>
                        <div class="text-box pt-5">#pasion</div>
                    </div>
                    <div class="vic-c2">
                        <img class="icon-vic-actions2" alt=""
                             src="../../static/images/plus.svg">
                    </div>
                    <div class="vic-c3 text-white">

                        <i class="fas fa-bolt fa-3x"></i>
                        <div class="text-box pt-5">#entrenamiento</div>
                    </div>
                    <div class="vic-c4">
                        <img class="icon-vic-actions2" alt=""
                             src="../../static/images/plus.svg">
                    </div>
                    <div class="vic-c5 text-white">
                        <i class="fas fa-calendar-check fa-3x"></i>
                        <div class="text-box pt-5">#agenda_digital</div>
                    </div>
                    <div class="vic-c6">
                        <img class="icon-vic-actions2" alt=""
                             src="../../static/images/igual.svg">
                    </div>
                    <div class="vic-c7">
                        <img class="icon-vic-actions" alt=""
                             src="../../static/images/victorius_way.svg">
                        <div class="text-box"
                             style=" padding-top: 5px;font-family: 'Permanent Marker', cursive;color:#ffcd00;">Victorius
                        </div>

                    </div>

                </div>

                <h3 class="text-center text-white h3" style="margin-bottom: 40px;">
                    VICTORIUS es una forma moderna de <br> relacionarte con los centros que
                    te ayudan a desarrollar tu estilo de vida. <br>

                    <br> Tecnología que se ocupa de ti.

                </h3>

                <h3 class="text-center text-white h3 w-100">

                    <br><a href="#" class="underLine-amarillo">¿Estás en el negocio de entrenamiento físico?</a>
                </h3>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid   bg-white container-fluid-p0">

    <div class="container  div-amarillo ">

        <div class="ml-auto mr-auto">


            <h2 class=" h3 text-center ">Mantente al tanto de tu próximo entrenamiento</h2>


            <div>
                <h3 class="text-center  h3 ">
                    Ten el control absoluto de tus prácticas en los centros que mas que te gustan.<br><br>
                    No te pierdas de nada. Haz que cada día cuente y activa tus entrenamientos.<br>
                </h3>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid   bg-grey container-fluid-p0 ">

    <div class="container  div-amarillo">

        <div class="ml-auto mr-auto">


            <h3 class="text-center  h3 ">


                <b>No busques ser más que los demás. <br>
                    Busca ser un mejor tu.
                </b>
                <br><br>
                Mantente sincronizado con tus centros,tus entrenamientos y llega a<br> donde quieres llegar.<br>


                Un dia y una semana a la vez.<br>
                <br>
            </h3>


            <div>
                <h3 class="text-center text-white h3">
                    <span style="color:black ;font-family: 'Permanent Marker', cursive; border-bottom : 2px #ffcd00 solid;padding-bottom: 20px"> Vive, juega, practica</span>
                </h3>

            </div>
            <h3 class="text-center  h3 ">

                <br>


                <span style="font-size: 80%">
#agenda_de_actividades <br>    #reservate<br>

#gestiona_tus_planes   <br>  #notificaciones<br>
</span>


                <br>
            </h3>
        </div>
    </div>
</div>


<div class="container-fluid   bg-black container-fluid-p0 text-white  ">

    <div class="container div-amarillo">

        <div class="ml-auto mr-auto">


            <div>
                <h3 class="text-center  h3 ">

                    <span>PARA CENTROS</span><br>


                </h3>


                <h2 class=" h3 text-center ">

                    <br>

                    <span style="text-transform: uppercase;">Crece tu negocio, sin preocuparte por el futuro. <br>
		Mantente adelante de tu competencia</span>
                </h2>

                <br>
                <div>
                    <h3 class="text-center text-white h3">
                        <b>Impulsamos </b><span
                            style="color:#ffcd00;border-bottom: 1.2px solid white;font-family: 'Permanent Marker', cursive; "> Centros con propósito</span>
                    </h3>

                </div>
                <br>
                <h3 class="text-center  h3 ">


                    VICTORIUS es una tecnología que te permite tener el control de los detalles </br>que importan de tu
                    cadena de valor y enriquecer la relación con tu comunidad.


                </h3>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid   bg-white container-fluid-p0 ">

    <div class="container  div-amarillo">

        <div class="ml-auto mr-auto">


            <h2 class=" h3 text-center ">Gestiona tu centro <br> cuando, como y de donde quieras</h2>
            <b></b>
            <h3 class="text-center  h3 ">

                Nuestra plataforma es capaz de adaptarse a tu modelo de negocio y te permite visualizar de forma
                sencilla todos los puntos claves de tu cadena de valor: entrenadores, atletas, actividades y
                pagos<br><br>

            </h3>
        </div>
    </div>
</div>

<div class="container-fluid   bg-grey container-fluid-p0 ">

    <div class="container  div-amarillo">

        <div class="ml-auto mr-auto">


            <h3 class="text-center  h3 ">


                Operar un negocio de entrenamiento y actividad física es un reto logistico, operativo y administrativo
                importante. Su crecimiento va de la mano de la tecnología que te acompañe.<br><br>

                Queremos que te enfoques en el valor y la calidad del servicio que le entregas a tus clientes y con alto
                desempeño, liberandote de la carga operativa y logísgtica que esto implica.<br><br>

                Potencia tus capacidades como negocio con la gestión de tus actividades, agenda simultánea, múltiples
                entrenadores, variedad de planes con un seguimiento y control super sencillo. <br><br><br>


                <b>VICTORIUS se encarga del trabajo <br>dificil, disfruta yenfócate en entrenarlos. <br>


            </h3>
        </div>
    </div>
</div>


<div class="container-fluid   bg-black container-fluid-p0 text-white ">

    <div class="container  div-amarillo text-center">
        <div class="ml-auto mr-auto">

            <div class="">


                <div>
                    <h3 class="text-center text-white h3">
                        <span style="color:#ffcd00;font-family: 'Permanent Marker', cursive; "> Te hace sentido ?</span>
                    </h3>

                </div>

                <h2 class="text-center  h3">
                    <a href="contactos">
                        CONTÁCTANOS
                    </a>
                </h2>

            </div>

         </div>

    </div>
</div>


<div class="container-fluid   bg-white  ">

    <div class="container" style="padding-bottom: 10px;padding-top: 10px">

        <div class="ml-auto mr-auto">
            <h4 class="text-center">


                Unete a nuestro movimiento <br><br>

                <i class="fab fa-instagram fa-2x" style="    margin-right: 100px;"></i>
                <i class="fab fa-twitter fa-2x"></i>


            </h4>


        </div>
    </div>
</div>

<div style="margin-bottom: 50px;"></div>

{% endblock contenido %}