
<ul style="display: none" class="nav nav-tabs">
	<li><a href="#vic-tab-2"></a></li>
	<li><a href="#vic-tab-3"></a></li>
	<li><a href="#vic-tab-4"></a></li>
	<li><a href="#vic-tab-5"></a></li>
	<li><a href="#vic-tab-6"></a></li>
	<li><a href="#vic-tab-7"></a></li>
	<li><a href="#vic-tab-8"></a></li>
	<li><a href="#vic-tab-9"></a></li>
	<li><a href="#vic-tab-10"></a></li>
	<li><a href="#vic-tab-11"></a></li>
	<li><a href="#vic-tab-12"></a></li>
	<li><a href="#vic-tab-nuevoAtleta"></a></li>
	<li><a href="#vic-tab-perfil"></a></li>
	<li><a href="#vic-tab-noti"></a></li>
	<li><a href="#vic-tab-olvido-contra"></a></li>
	<li><a href="#vic-tab-recibo-pago"></a></li>
	<li><a href="#vic-tab-actividades-conflictos"></a></li>
	<li><a href="#vic-tab-plan-new"></a></li>
	<li><a href="#vic-tab-conflictos"></a></li>
	<li><a href="#vic-tab-proximas"></a></li>
	<li><a href="#vic-tab-perfil-aa"></a></li>
	<li><a href="#vic-tab-perfil-ap"></a></li>
	<li><a href="#vic-tab-perfil-ia"></a></li>
	<li><a href="#vic-tab-perfil-ir"></a></li> 
    <li><a href="#vic-tab-ayudaMarca"></a></li> 

</ul>
