<!-- salas.html -->

<!DOCTYPE html>
<html lang="en">

<head>{% load filtrosEspeciales %} {% include "head.html" %}
</head>

<body>
{% include "scriptsActividades.html" %}
{% include "header.html" %} {% include "content-tabs.html" %}
{% include "tabs_entrenador-calendario.html" %}


<div id="vic-tab-2" class="tab-pane in active">

    <div class="container">

        <div class="col-md-10 col-md-offset-1">

            <br><br>
            <div class="vc-form-t2 ">Salas</div>
            <br>
            <div class="vc-form-sub-t1">
            
                Estas son las salas que tu cuenta de negocio utiliza para registrar la locación de las actividades..
                
            </div>
            <br><br>
          

 <a href="gestionar_salas" type="button" class="btn  vic-btn-aplicar  ">
                Agregar Sala
            </a>
            
            <div class="row">

                {% with perfilMarca.marcaSalones as salas %}

                    {% for sala in salas %}

                        <div class="col-sm-6 col-md-4   m-t-20 ">
                            <div class="rectangle-3 ">
                                <div class=" m-b-20">
                                    <b> <a class="w-100"
                                           href="gestionar_salas?sla={{ sala.idSalon }}"> {{ sala.nombreSalon }} </a></b>
                                    <div class="btn-group moreOps vc-avatar-atle-user-moreOps"
                                         style="right: 15px; margin-top: 10px;">
                                        <button type="button"
                                                class="btn btn-sm btn-default dropdown-toggle "
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <!--<span class="caret"></span>-->
                                            &nbsp;
                                        </button>
                                        <ul class="dropdown-menu" style="left: -200px; top: 0;">
                                            <li role="presentation"><a
                                                    href="gestionar_salas?sla={{ sala.idSalon }}">Editar</a></li>
                                            {% comment %}<li role="presentation"><a onclick="">Desactivar</a></li>{% endcomment %}
                                        </ul>
                                    </div>


                                </div>
                                <div class="f-w-500 r3">CAPACIDAD</div>
                                <div class="f-w-100">{{ sala.capacidadSalon }} puestos</div>
                                <br>

                                <div class="f-w-500 r3">REFERENCIADA</div>

                                <div class="f-w-100 ">
                                    {% if sala.esReferenciado %}
                                        SI
                                    {% else %}
                                         NO
                                    {% endif %}
                                </div>

                                {% comment %}							<div class="pull-right">ACTIVA</div>{% endcomment %}
                            </div>

                        </div>
                    {% endfor %}

                {% endwith %}

            </div>


            <div class="row">


                
            </div>
        </div>


    </div>
</div>


<!-- fin codigo nuevo  -->

{% include "fin-content-tabs.html" %} {% include "footer.html" %}

</body>

</html>