<!-- tabs_clase_amarillo.html -->


<div class="col-xs-12">
    <span style="font-size: 18px; font-weight: 500;cursor: pointer;" class=" dp-dgenerales"> <i
            class="fa fa-angle-right" aria-hidden="true"></i> Datos Generales</span>
</div>
<div class="col-xs-12 sin-paddign-cols dgenerales">
    <div class="col-xs-12">
        NOMBRE DESCRIPTIVO
        <div class="result-data-clase formclase-nombre">-</div>
    </div>
    <div class="col-xs-12">
        FECHA INICIO
        <div class="result-data-clase formclase-fecha">-</div>
    </div>
    <div class="col-xs-12" style="margin-bottom: 0;">HORA</div>
    <div class="col-xs-6">
        INICIO
        <div class="result-data-clase formclase-hin">-</div>
    </div>
    <div class="col-xs-6">
        FIN
        <div id='fchfn' class="result-data-clase formclase-hfn">-</div>
    </div>


    <div class="serie-clase animated fadeIn">

        <div class="col-xs-12 div-panel-amarillo">REPETICIÓN</div>

        <div class="col-xs-12">
            REPETIR CADA
            <div class="result-data-clase formclase-rp-cada">-</div>
        </div>
        <div class="col-xs-12">
            TERMINA
            <div class="result-data-clase formclase-rp-termina">-</div>
        </div>
    </div>

    <div class="col-xs-12">
        DESCRIPCION DE LA ACTIVIDAD
        <div class="result-data-clase formclase-descrip-clase">-</div>
    </div>

</div>


<div class="col-xs-12" style="border-top: solid #E5BD00 1px;padding-top: 10px;">
    <span class=" dp-recr" style="font-size: 18px; font-weight: 500;cursor: pointer;"> <a href="#recr"
                                                                                          data-toggle="collapse"><i
            class="fa fa-angle-right" aria-hidden="true"></i> Recursos</a></span>
</div>

<div class="col-xs-12 sin-paddign-cols collapse recr">

    <div class="col-xs-6">
        CATEGORIA
        <div class="result-data-clase formclase-categaria">-</div>
    </div>
    <div class="col-xs-6">
        UBICACÓN
        <div class="result-data-clase formclase-ubicacion">-</div>
    </div>
</div>

<div class="col-xs-12" style="border-top: solid #E5BD00 1px;padding-top: 10px;">
    <span class=" dp-cup" style="font-size: 18px; font-weight: 500;cursor: pointer;"><i class="fa fa-angle-right"
                                                                                        aria-hidden="true"></i> Cupos</span>
</div>

<div class="col-xs-12 sin-paddign-cols collapse cup">

    <div class="col-xs-6">
        MIN
        <div class="result-data-clase formclase-cmin">-</div>
    </div>
    <div class="col-xs-6">
        MAX
        <div class="result-data-clase formclase-cmax">-</div>
    </div>
    <div class="col-xs-12">
        LISTA DE ESPERA
        <div class="result-data-clase formclase-list-esp">-</div>
    </div>
</div>

<div class="col-xs-12" style="border-top: solid #E5BD00 1px;padding-top: 10px;">
    <span class=" dp-cons" style="font-size: 18px; font-weight: 500;cursor: pointer;"> <i class="fa fa-angle-right"
                                                                                          aria-hidden="true"></i> Consideraciones</span>
</div>

<div class="col-xs-12 sin-paddign-cols collapse cons">


    <div class="col-xs-6">
        DIFICULTAD
        <div class="result-data-clase formclase-dif">
        </div>
    </div>
    <div class="col-xs-12">
        INSTRUCCIONES
        <div class="result-data-clase formclase-inst">-</div>
    </div>
</div>

<div class="col-xs-12" style="border-top: solid #E5BD00 1px;padding-top: 10px;">
    <span class=" dp-respons" style="font-size: 18px; font-weight: 500;cursor: pointer;"><i class="fa fa-angle-right"
                                                                                            aria-hidden="true"></i> Responsables</span>
</div>

<div class="col-xs-12 sin-paddign-cols collapse respons">


    <div class="col-xs-12">
        LIDER RESPANSABLE
        <div class="result-data-clase formclase-lidrep">-</div>
    </div>

    <div class="col-xs-6">
        COLABORADOR
        <div class="result-data-clase formclase-col1">-</div>
    </div>

    <div class="col-xs-6">
        COLABORADOR
        <div class="result-data-clase formclase-col2">-</div>
    </div>

    <div class="col-xs-12">
        INVERSIÓN INSTRUCTOR
        <div class="result-data-clase formclase-invint">-</div>
    </div>

    <div class="col-xs-6">
        COSTO EN CREDITOS
        <div class="result-data-clase formclase-costo">-</div>
    </div>

    <div class="col-xs-6">
        BONIFICACIÓN
        <div class="result-data-clase formclase-bonif">-</div>
    </div>
</div>
	