{% extends 'calendario-atleta-table.html' %}

{% block mensajesPlus %}
        <script>
    $('.PREVIA').remove();
    $('.PREVIA').remove();
    </script>
    {% if numPagesIZQ == 0 %}
        <div class="text-center col-xs-12 soloIZQ ">
            <br> <br> <br>
            <img src="../static/images/moon.svg">
            <div class=" vic-title-ms">No encontre actividades</div>
            {% if marcaAlias == 'Suscripciones' %}
                <div class="vic-calendar-sub-title-header vic-tex-inic " style="margin-top: 10px;">
                    Cuando hayan actividades que tengas suscripciones activas<br> podrás verlas aquí.
                </div>
            {% elif marcaAlias == 'Todos' %}
                <div class="vic-calendar-sub-title-header vic-tex-inic " style="margin-top: 10px;">
                    Cuando hayan actividades en tus centros afiliados<br> podrás verlas aquí.
                </div>
            {% else %}
                 <div class="vic-calendar-sub-title-header vic-tex-inic " style="margin-top: 10px;">
                    Cuando hayan actividades en {{ marcaNombre }}<br> podrás verlas aquí.
                </div>
            {% endif %}

            <br>
        </div>
    {% endif %}
    {% if numPagesDER == 0 %}
        <div class="text-center col-xs-12 soloDER ">
            <br>
            <img src="../../static/images/moon.svg">
            <div class=" vic-calendar-title">No tienes actividades planificadas...</div>
            <div class="vic-calendar-sub-title-header vic-tex-inic " style="margin-top: 10px;">¡Activate!
                Explora las actividades que tus centros<br>tienen abiertas y reservate.
                <br class="md-movil">
            </div>
            <br>
        </div>
    {% endif %}
{% endblock mensajesPlus %}

{% block accionPagineo %}
    {% if numPagesIZQ > 0 %}

        <div class="container text-center">
            <br> <br>
            <a id="idAccionPagineoIZQ" href="javascript:void(0)" class="accionPagineoIZQ"></a>

            <button style="text-align: center" id="idAccionPagineoIZQ" type="button"
                    class="btn btn-block  vic-btn-reservar-reverse accionPagineoIZQ"
                    style="margin-top: 15px">
                Próximas
            </button>
        </div>
    {% endif %}
    {% if numPagesDER > 1 %}
        <div class="container text-center">
            <br> <br>
            <a id="idAccionPagineoDER" href="javascript:void(0)" class="accionPagineoDER"></a>
            <button style="text-align: center" id="idAccionPagineoDER" type="button"
                    class="btn btn-block  vic-btn-reservar-reverse accionPagineoDER"
                    style="margin-top: 15px">
                Próximas
            </button>
        </div>
    {% endif %}
{% endblock accionPagineo %}
