<!-- perfil-actividades-atleta.html -->

{% extends 'calendario-atleta.html' %}

{% block tabs %}

    <div class="row vc-perf-atleta-menu2-tab  vc-perf-atleta-menu2-tab-2 animated fadeIn">

        <div class="row hidden-md hidden-lg" style="margin-left: -15px;margin-right: -15px; ">
            <div class="col-xs-6 menu-movil sin-left tabIzquierdo  active">
                <div class="cell">
                    PRÓXIMAS
                </div>
            </div>
            <div class="col-xs-6 menu-movil tabDerecho ">
                <div class="cell">
                    RECIENTES
                </div>
            </div>
        </div>

        <div class="vic-perfil-atl-inst-sub-title hidden-xs hidden-sm menu-movil-ll">
            <div>
                <div class="col-6 menu-tab-calendar active tabIzquierdo">
                    PRÓXIMAS
                </div>
                <div class="col-6 menu-tab-calendar vic-left tabDerecho">
                    RECIENTES
                </div>
            </div>
        </div>

    </div>

{% endblock tabs %}

{% block titulo %}
    <div class=" titulo-principal box row">
        {% if vs.tipoSesion == vs.MARCA %}
            Actividades {{ perfilAtleta.atletaNombreCompleto }}
        {% else %}
            Mis Actividades
        {% endif %}
    </div>
{% endblock titulo %}

{% block controlFiltro %}
      <input type="text" id="idMarcaAlias" name="marcaAlias" class="marcaAlias marcaAliasFiltro" hidden>
{% endblock controlFiltro %}


